*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    background-image: linear-gradient(rgba(0,0,0,0.3),
                                    rgba(0,0,0,0.2)),
                                    url('../images/about_us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    margin: auto;
    padding: 23px;
    color: white;
    font-size: 44px;
}

h3{
    text-align: center;
    margin: auto;
    padding: 23px;
    color: white;
    font-size: 22px;
}
h3 a:hover{
    color: white;
    text-decoration: none;
    color: rgb(243, 197, 44);
}
h2{
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
}