*{
    font-family: 'Baloo Bhai 2', cursive;
}
.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #05c1c8;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 3.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .4rem;
    font-size: 2rem;
}
h1{
    font-size: 44px;
    color: #fff;
    text-align: center;
}
h2{
    text-decoration: underline;
    text-align: center;
}